* {
  margin: 0;
  padding: 0;
}

body{
  box-sizing: border-box;
}

main{
  margin: 0;
  padding: 1em 1em;
  height: 100%;
}

header{
  margin: 0;
  padding: 0;
  height: 5em;
  display: flex;
  align-items: center;
}

header h1{
  width: 100%;
  display: flex;
  justify-content: center;
  align-content: center;
  left: calc(50% - 200px/2);
  top: calc(50% - 44px/2 - 380px);
  font-family: 'Impact';
  font-style: normal;
  font-weight: 400;
  font-size: 36px;
  line-height: 44px;
  color: #1C6993;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

header img{
  position: absolute;
  z-index: 9;
  width: 3em;
  top: 1em;
  left: 1em;
}

.login-page{
  background-image: url(./img/fond_ampoules.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.login-page h1{
  font-family: 'Saira Extra Condensed', sans-serif;
  letter-spacing: 1px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.container-login{
  width: 100%;
  height: 80vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 1em;
}

.box{
  width: 100%;
  height: 80vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 1em;
}

label{
  position: relative;
}

label input{
  font-size: 1em;
  background: transparent;
}


label .password-icon{
  display: flex;
  align-items: center;
  position: absolute;
  top: 68%;
  transform: translateY(-75%);
  color: #fff;
  transition: all 0.2s;
  right: -40px;
}

label .password-icon i{
  font-size: 2em;
}

label .password-icon:hover{
  cursor: pointer;
  color: black;
}

.element-login{
  height: 80px;
  z-index: 10;
  margin-top: 3em;
}

.element-login input{
  height: 50px;
  width: 65vw;
  font-size: large;
}

.element-login h1{
  color: #fff;
  text-shadow: 1px 0px 5px black;
  font-size: xx-large ;
}

.element-login-register{
  height: 80px;
  z-index: 10;
  margin-top: 3em;
}

.element-login-register input{
  height: 50px;
  width: 65vw;
  font-size: large;
}

.element-login-register h1{
  color: #fff;
  text-shadow: 1px 0px 5px black;
  font-size: xx-large ;
}

.element-login-register:nth-last-child(1), .element-login-register:nth-last-child(1) a{
  margin-top: 0;
  color: white;
}

#remember{
  height: 20px;
  width: 20px;
}

#remember-me{  
  font-size: x-large;
  color: #050505;  
}

#utilisateur{
  background-color: white;
  background-image: url(./img/Pngtreeavatar_icon_profile_icon_member_5247852.png);
  background-size: 20%;
  background-position: left;
  background-repeat: no-repeat;
  text-align: center;
}

#password{
  background-color: white;
  background-image: url(./img/kisspng-padlock-computer-icons-icon-design-symbol-lock-5b360157147cb9.8543979615302659430839.png);
  background-size: 20%;
  background-position: left;
  background-repeat: no-repeat;  
  text-align: center;
}

::placeholder {
  text-align: center;
}

#utilisateur:hover{
  background-image: none;
}

#password:hover{
  background-image: none;
}

#entry{
  font-size: x-large;
}

#Envoyer_login{
  align-self: center;
  width: 182px;
  height: 35px;
  left: calc(50% - 182px/2);
  top: 539px;
  background: rgba(28, 105, 147, 0.8);
  border: 1px solid #0b2736;
  border-radius: 25px;
  cursor: pointer;

  font-family: 'Inter';
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 29px;
  color: #FFFFFF;
}

.list{
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.big-square{
  background-color: #e8f2f7;
  width: 90vw;
  border-radius: 25px;
  box-shadow: 6px 6px 10px -1px rgba(0,0,0,0.15);
}

.big-square h3{
  padding: .5em 0;
}

.outer{
  box-shadow: 6px 6px 10px -1px rgba(0,0,0,0.15),
              -6px -6px 10px -1px rgba(255,255,255,0.7);
}

.inner{
  box-shadow: inset 4px 4px 6px -1px rgba(0,0,0,0.2),
              inset -4px -4px 6px -1px rgba(255,255,255,0.7),
              -0.5px -0.5px 0px rgba(255,255,255,1),
              0.5px 0.5px 0px rgba(0,0,0,0.15),
              0px 12px 10px -10px rgba(0, 0, 0, 0.5);
}

.pourcent{
  position: relative;
}

svg{
  width: 150px;
  height: 150px;
  /* padding: 1em 1em; */
}

svg circle{
  fill: none;
  stroke: url(#GradientColor);
  stroke-width: 15px;
  transform: translate(15px, 15px);
  stroke-dasharray: 380;
  stroke-dashoffset: 380;
  stroke-linecap: round;
  
}

svg circle:nth-child(2){
  stroke: #7bc9f3;
  stroke-dashoffset: 0;
}

svg circle:nth-child(3){
  animation: circle 2s forwards;
}


@keyframes circle {
  to {
    stroke-dashoffset: 95;
  }
}

span{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 2em;
  font-weight: 700;
  color: #0b2736;
}


footer{
  background: linear-gradient(180deg, #0D4166 0%, #FFFFFF 55.75%);
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  /* vertical-align: bottom; */
  height: 8vh;
  text-align: center;
  bottom: 0;
}

.footer-gmao{
  position: relative;
  background: none;
  display: flex;
  justify-content: center;
  align-items: center;
  bottom: 0;
}

.copyright-contact{
  align-self: center;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
}

.copyright-contact a{
  color: #1C6993;
  font-weight: 600;
  text-decoration: underline;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
}

p.errorMessage {
  background-color: #e66262;
  border: #AA4502 1px solid;
  padding: 5px 10px;
  color: #FFFFFF;
  border-radius: 3px;
}

@media screen and (min-width: 991px){
  header h1{
    font-size: 64px;
  }

  .element-login-register{
    margin-top: 1em;
  }

  .element-login input{
    height: 50px;
    width: 25vw;
    font-size: large;
  }

  .element-login-register input{
    height: 50px;
    width: 25vw;
    font-size: large;
  }

  .element-login-register:nth-last-child(1) a{
    color: black;
  }

  .big-square{
    width: 25vw;
  }
}